<div class="display-side-top">
    <div class="display-side-top-title">
        PACKAGING
    </div>
    <div>
        To return the package,<br />press the button<br />at the bottom.
    </div>
</div>

