<div class="display-side-top">
    <div class="display-side-top-title">
        PRINT VOUCHER
    </div>
    <div>
        To print the Voucher,<br />press the button<br />at the bottom
    </div>
</div>

