@model IEnumerable<Machine.Database.Data.AdminSite.ItemParameter>


<div class="display-side-top">
    <div class="display-side-top-title">
        Menu packaging
    </div>
    This is the left panel component
</div>

