@{
    ViewData["Title"] = "Customer Panel";
}

<div class="display-left">
    
</div>
<div class="display-middle">
    <div class="display-middle-top">
    </div>
    <div class="display-middle-bottom">
    </div>
</div>
<div class="display-right">
    
</div>
