@{
    ViewData["Title"] = "Customer Panel";
}

<div class="display-left">
    
</div>
<div class="display-middle">
    <div class="display-middle-top">
    </div>
    <div class="display-middle-bottom">
        <div class="button-machine button-start">
            START
        </div>
        <div class="button-machine button-stop">
            STOP
        </div>
    </div>
</div>
<div class="display-right">
    
</div>
