@model Machine.Database.Data.AdminSite.Voucher

@if(!Model.IsActive)
{
    <div class="button-machine button-put-on button-disabled">PUT ON</div>
}
else
{
        <input type="submit" value="PUT ON" form="packaging-menu" class="button-machine button-put-on"/>
}