@model Machine.Database.Data.AdminSite.Voucher

@{
    ViewData["Title"] = "Voucher Summary";
}

<div class="machine-display">
    <div class="voucher">
        <div class="voucher-summary">
            <h2>Voucher<br>Summary</h2>
            <div>
                <span class="voucher-content">
                    Bottles: 20 * 3 = 60 NOK <br />
                    Cans: 15 * 2 = 30 NOK
                    <br />
                    <br />
                    SUM 35 varer: <b>90 NOK</b>
                </span>
            </div>
            <div>
                Choose the type of packaging
            </div>
        </div>
        <form>
            <button type="submit" asp-action="Index" asp-controller="Home" class="button-machine button-put-on">ACCEPT</button>
        </form>
    </div>
</div>