html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.machine-interface {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.machine-footer {
    padding: 1.5rem;
    background-color: lightgray;
    width: 100%;
    text-align: center;
}



/* ------------------------------------
    DISPLAY 
------------------------------------ */

.machine-display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.machine-display-frame{
    padding: 40px 30px;
}

.display-side-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    background-color: lightgrey;
    padding: 20px 15px;
}

.display-side-top-title{
    font-size: 1.2rem;
    margin-bottom:10px;
    font-weight: bold;
}

.button-machine {
    padding: 15px;
    width: 130px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    border: 1px solid lightgray;
}

.button-disabled {
    opacity: 0.3;
    cursor: not-allowed !important;
}



/* ------------------------------------
    LEFT DISPLAY 
------------------------------------ */

.display-left {
    width: 300px;
    height: 600px;
    background-color: lightblue;
    background-color: gray;
    border-right: 1px solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
}

.button-put-on {
    background-color: rgb(80, 80, 80);
}



/* ------------------------------------
    MIDDLE DISPLAY
------------------------------------ */

.display-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 600px;
    background-color: gray;
}

/* Middle top */

.display-middle-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: lightgrey;
}

.machine-announcement {
    margin: 50px 25px;
    font-size: 1.5rem;
    text-align: center;
}

.annoumcement-distinction{
    font-size: 2rem;
}

.active-voucher {
    margin: 15px 0px;
}

/* Middle bottom */

.display-middle-bottom {
    display: flex;
    flex-direction:column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
}

.button-start {
    background-color: green;
}

.button-stop {
    background-color: red;
}



/* ------------------------------------
    RIGTH DISPLAY
-------------------------------------*/

.display-right {
    width: 300px;
    height: 600px;
    background-color: gray;
    border-left: 1px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-right-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
}

.button-print {
    background-color: rgb(80, 80, 80);
}