html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.machine-interface {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.machine-display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.machine-footer {
    padding: 1.5rem;
    background-color: lightgray;
    width: 100%;
    text-align: center;
}


/* 
    LEFT DISPLAY 
*/
.display-left{
    width:200px;
    height: 600px;
    background-color:lightblue;
}


/* 
    MIDDLE DISPLAY
*/
.display-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 600px;
    background-color: gray;
}

.display-middle-top {
    margin: 50px;
    height: 300px;
    background-color: lightgrey;
}

.display-middle-bottom {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 50px;
}

.button-machine {
    padding: 10px;
    width: 110px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    border: 1px solid lightgray;
}

.button-start{
    background-color: green;
}

.button-stop {
    background-color: red;
}


/* 
    RIGTH DISPLAY
*/
.display-right {
    width: 200px;
    height: 600px;
    background-color: lightblue;
}